.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Crimson Text', serif;
  color: color-yiq(theme-color("navbar"));
}

.navbar-logo {
  float: left;
  padding: 0.7rem 0;
}

.navbar-logo img {
  height: 50px;
}

.nav {
  float: right;
}

.navbar {
  position: inherit;
  padding: 4px 0;
}

.menu-primary-nav-container {
  width: 100%;
}

nav.navbar-collapse.collapsing .navbar-nav {
  float: none;
  text-align: center;
}

nav.navbar-collapse.collapse.show .navbar-nav {
  float: none;
  text-align: center;
}

nav.navbar-collapse.collapsing .navbar-nav li {
  margin: 0 -15px;
  border-top: 1px solid #e4e4e4;
}

nav.navbar-collapse.collapse.show .navbar-nav li {
  margin: 0 -15px;
  border-top: 1px solid #e4e4e4;
}

button.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
}
