/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #888
);

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Crimson Text', serif;
$headings-font-family: 'Crimson Text', serif;
$nav-link-padding-y: 1rem;
